.App{
    width: 30vw;
    margin: 10vh auto;
}

.tracker-container{
    box-sizing: border-box;
    width: 90%;
    height: 40vh;
    margin: auto;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-circle{
    background-color: white;
    width: 30vh;
    height: 30vh;
    border-radius: 15vh;
    position: relative;
    user-select: none;
    
}

.btn{

    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;

}

.ok-btn{
    width: 12vh;
    height: 12vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.ok-btn button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;
}

.menu-btn{
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu-btn button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: none;
    background: transparent;
}

.next-btn{
    width: 10vh;
    height: 10vh;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn{
    width: 10vh;
    height: 10vh;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.play-pause-btn{
    width: 10vh;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.active{
    background-color: rgb(0, 128, 255);
}

.active .arrow{
    visibility: visible !important;
}

@media screen and (max-width: 700px) {
    .App{
        width: 60vw;
        margin: 10vh auto;
    }
}
